APP_URL=localhost
ALLOWED_HOSTS=localhost,api.localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost

POSTGRES_USER=munity
POSTGRES_PASSWORD=mutiny
POSTGRES_PORT=5432

SECRET_KEY="django-insecure-b3)bwvv-^h*xu=536a3^977k_$9(=fqe1^fa9kyq7de#0mh)#"
DATABASE_URL=postgres://munity:mutiny@db/munity
DEBUG=True

TIME_ZONE=Europe/Paris

REDIS_HOST=redis
REDIS_PORT=6379
